# Entregable Modulo 1: Utilización, procesamiento y visualización de grandes volúmenes de datos

## Jose Pablo Cobos Austria  A01274631

### 1.- Descripcion de la actividad

Este documento trata sobre el uso de la herramienta PySpark para el manejo de un conjunto de datos de gran volumen, para poder generar un modelo inteligente,y asimismo hacer uso de la aplicacion de Tableau para poder visualizar los datos

### 2.- Configuracion del entorno de trabajo para usar PySpark

Lo primero que vamos hacer antes de iniciar con nuestra generación el modelo es la configuración del entorno que utilizaremos para trabajar con PySpark.

En cuánto a la información o características del sistema que podemos trabajar tenemos que estamos trabajando con el sistema operativo Arch Linux v6.0.9, un procesador Intel i5-10500H y un total de 16 gigas de RAM

A continuación importamos lo que son las todas las librerías Spark que utilizaremos para poder trabajar con los datos y generar el modelo

In [7]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston


Lo siguiente que se realizó fue iniciar una sesión de Spark qué será nuestro entorno de trabajo, bajo el nombre de Cobos Big Data

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Cobos Big Data")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

22/11/25 13:07:02 WARN Utils: Your hostname, CubesLaptop resolves to a loopback address: 127.0.1.1; using 10.25.65.197 instead (on interface wlp0s20f3)
22/11/25 13:07:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/25 13:07:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Nos aseguramos que nuestra configuracion fuese la correcta y estuviera funcionando

In [3]:
spark

### 3.- Seleccion y carga de datos

Ya con nuestro entorno de trabajo ya configurado correctamente el siguiente paso a seguir fue la selección y carga de datos, utilizará fue encontrado del siguiente link: https://bit.ly/3iehRVO

El peso total de dicho es más de  4 GB, por lo que cumple con el objetivo de analizar un dataset con un gran volumen de datos

In [4]:
df_main= spark.read.csv("/home/josecobos/Documentos/Escuela/IA_Parte2/Modulo_1/Trips_merged.csv",inferSchema = True ,header=True)

### 4.- Creacion del modelo inteligente usando MLib

##### 4.1 EDA

Para la generacion del modelo inteligente lo primero que vamos a realizar es el EDA (Exploratory Data Analysis), para poder visualizar la informacion que tenemos de nuestros datos

In [5]:
df_main.printSchema()

root
 |-- trip_id: string (nullable = true)
 |-- start_time: timestamp (nullable = true)
 |-- stop_time: timestamp (nullable = true)
 |-- bike_id: integer (nullable = true)
 |-- trip_duration: integer (nullable = true)
 |-- from_station_id: string (nullable = true)
 |-- from_station_name: string (nullable = true)
 |-- to_station_id: string (nullable = true)
 |-- to_station_name: string (nullable = true)
 |-- user_type: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- birth_year: integer (nullable = true)

In [6]:
df_main.show()

+-------+-------------------+-------------------+-------+-------------+---------------+--------------------+-------------+--------------------+---------+------+----------+
|trip_id|         start_time|          stop_time|bike_id|trip_duration|from_station_id|   from_station_name|to_station_id|     to_station_name|user_type|gender|birth_year|
+-------+-------------------+-------------------+-------+-------------+---------------+--------------------+-------------+--------------------+---------+------+----------+
|   4118|2013-06-27 12:11:00|2013-06-27 12:16:00|    480|          300|             85|Michigan Ave & Oa...|           28|Larrabee St & Men...|   Casual|  null|      null|
|   4275|2013-06-27 14:44:00|2013-06-27 14:45:00|     77|           60|             32|Racine Ave & Cong...|           32|Racine Ave & Cong...|   Casual|  null|      null|
|   4291|2013-06-27 14:58:00|2013-06-27 15:05:00|     77|          420|             32|Racine Ave & Cong...|           19|Loomis St & Taylo...|   Casual|  null|      null|
|   4316|2013-06-27 15:06:00|2013-06-27 15:09:00|     77|          180|             19|Loomis St & Taylo...|           19|Loomis St & Taylo...|   Casual|  null|      null|
|   4342|2013-06-27 15:13:00|2013-06-27 15:27:00|     77|          840|             19|Loomis St & Taylo...|           55|Halsted St & Jame...|   Casual|  null|      null|
|   4480|2013-06-27 19:40:00|2013-06-27 22:28:00|     27|        10080|            340|Clark St & Wright...|           46|Wells St & Walton St|   Casual|  null|      null|
|   4490|2013-06-27 18:45:00|2013-06-27 19:03:00|    418|         1080|             37|Dearborn St & Ada...|           76|Lake Shore Dr & M...|   Casual|  null|      null|
|   4592|2013-06-27 19:34:00|2013-06-27 19:51:00|    170|         1020|             90|     Millennium Park|           75|Canal St & Jackso...|   Casual|  null|      null|
|   4602|2013-06-27 19:45:00|2013-06-27 20:42:00|    353|         3420|             37|Dearborn St & Ada...|           37|Dearborn St & Ada...|   Casual|  null|      null|
|   4607|2013-06-27 19:46:00|2013-06-27 19:57:00|    369|          660|             51|Clark St & Randol...|          340|Clark St & Wright...|   Casual|  null|      null|
|   4617|2013-06-27 19:50:00|2013-06-27 20:19:00|    658|         1740|             44|State St & Randol...|           44|State St & Randol...|   Casual|  null|      null|
|   4619|2013-06-27 19:52:00|2013-06-27 20:50:00|    533|         3480|             24|Fairbanks Ct & Gr...|           24|Fairbanks Ct & Gr...|   Casual|  null|      null|
|   4644|2013-06-27 20:22:00|2013-06-27 20:50:00|    522|         1680|             20|Sheffield Ave & K...|           46|Wells St & Walton St|   Casual|  null|      null|
|   4646|2013-06-27 20:22:00|2013-06-27 20:39:00|    477|         1020|             52|Michigan Ave & La...|           52|Michigan Ave & La...|   Casual|  null|      null|
|   4647|2013-06-27 20:25:00|2013-06-27 20:39:00|    525|          840|             52|Michigan Ave & La...|           52|Michigan Ave & La...|   Casual|  null|      null|
|   4666|2013-06-27 20:33:00|2013-06-27 21:22:00|    242|         2940|             44|State St & Randol...|           52|Michigan Ave & La...|   Casual|  null|      null|
|   4793|2013-06-27 21:39:00|2013-06-27 21:51:00|    240|          720|             69|Damen Ave & Pierc...|           29|Noble St & Milwau...|   Casual|  null|      null|
|   4863|2013-06-27 22:15:00|2013-06-27 22:36:00|    381|         1260|             61|Wood St & Milwauk...|           17|Wood St & Divisio...|   Casual|  null|      null|
|   4865|2013-06-27 22:16:00|2013-06-27 22:42:00|    343|         1560|             85|Michigan Ave & Oa...|           85|Michigan Ave & Oa...|   Casual|  null|      null|
|   4866|2013-06-27 22:17:00|2013-06-27 22:42:00|    220|         1500|             85|Michigan Ave & Oa...|           85|Michigan Ave & Oa...|   Casual|  null|      null|
+-------+-------------------+-------------------+-------+-------------+---------------+--------------------+-------------+--------------------+---------+------+----------+
only showing top 20 rows

##### 4.2 ETL

##### 4.3  Generacion del modelo

### 5.- Evaluacion del modelo

### 6.- Visualizacion de los datos usando la herramienta de Tableu