## Instituto Tecnologico y de Estudios Superiores de Monterrey

### Inteligencia artificial avanzada para la ciencia de datos

#### Modulo 5 Estadistica

#### Entregable 1: Preprocesamiento de datos multivariados o de una serie temporal 

#### Profesor: Dr. Carlos Alberto Dorantes Dosamantes

#### Alumno: Jose Pablo Cobos Austria
#### Matricula: A01274631

#### Tienes que utilizar el dataset que usaste en el Bloque 1.

#### Tienes que utilizar las variables explicativas y dependientes de tu ÚLTIMO modelo que hiciste en el entregable del Bloque 1. Recuerda que las variables independientes deben ser razones financieras así como las variables dummy (0/1) de la variable de tamaño ("size").

#### 1.- Realiza un análisis exploratorio de las variables:

In [3]:
#Importar libreias que se utilizaran 
import os
import pandas as pd
import numpy as np

In [5]:
#Importamos los datos que seran utilizados 
os.chdir("/home/cobos/Documentos/Escuela/Materias/IA_Datos_II/Bloques/Modulo_5_Estadistica/Entregables")
q2a = pd.read_csv("us2022q2a.csv")
firms = pd.read_csv("usfirms2022.csv")
df_main = q2a.merge(firms,left_on='firm', right_on='Ticker')

In [6]:
df_main.head()

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,Name,N,Class,Country\nof Origin,Type of Asset,Sector NAICS\nlevel 1,Exchange / Src,Sector\nEconomatica,Sector NAICS\nlast available,partind
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
1,A,2000q2,2485000.0,1261000.0,1010000.0,0.0,42000.0,0.0,90000.0,7321000.0,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
2,A,2000q3,2670000.0,1369000.0,1091000.0,0.0,28000.0,0.0,83000.0,7827000.0,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
3,A,2000q4,3372000.0,1732000.0,1182000.0,0.0,10000.0,0.0,163000.0,8425000.0,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
4,A,2001q1,2841000.0,1449000.0,1113000.0,0.0,-6000.0,0.0,119000.0,9208000.0,...,"Agilent Technologies, Inc",94,Com,US,Stock,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124

In [15]:
# Selecciono únicamente los sectores Retail Trade y Wholesale Trade
df_main = df_main[df_main['Sector NAICS\nlevel 1'].str.contains('Retail Trade|Wholesale Trade')]

In [16]:
df_main.head()
#df_main.info()

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,Name,N,Class,Country\nof Origin,Type of Asset,Sector NAICS\nlevel 1,Exchange / Src,Sector\nEconomatica,Sector NAICS\nlast available,partind
630,AAP,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Advance Auto Parts, Inc",68,Com,US,Stock,Retail Trade,NYSE,Trade,"Automotive Parts, Accessories, and Tire Stores",0.040
631,AAP,2000q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Advance Auto Parts, Inc",68,Com,US,Stock,Retail Trade,NYSE,Trade,"Automotive Parts, Accessories, and Tire Stores",0.040
632,AAP,2000q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Advance Auto Parts, Inc",68,Com,US,Stock,Retail Trade,NYSE,Trade,"Automotive Parts, Accessories, and Tire Stores",0.040
633,AAP,2000q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Advance Auto Parts, Inc",68,Com,US,Stock,Retail Trade,NYSE,Trade,"Automotive Parts, Accessories, and Tire Stores",0.040
634,AAP,2001q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Advance Auto Parts, Inc",68,Com,US,Stock,Retail Trade,NYSE,Trade,"Automotive Parts, Accessories, and Tire Stores",0.040

In [67]:
df_main['R'] = np.log(df_main.groupby(['firm'])['adjprice'].shift(-1)) - np.log(df_main.groupby(['firm'])['adjprice'].shift(3))

df_main.head(1000)
df_main.to_csv("prueba1.csv")

df_q1 = df_main[df_main['q'] == '2022q1']

df_q1 = df_q1[['firm','q','revenue','cogs','sgae','otheropexp','finexp','incometax',
              'totalassets','totalliabilities','adjprice','originalprice','sharesoutstanding',
              'Sector NAICS\nlevel 1','R']]

In [68]:
df_q1.head()

,firm,q,revenue,cogs,sgae,otheropexp,finexp,incometax,totalassets,totalliabilities,adjprice,originalprice,sharesoutstanding,Sector NAICS\nlevel 1,R
718,AAP,2022q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205.158154,206.96,61097.579,Retail Trade,-0.144831
1168,ABC,2022q1,57719448.0,55484368.0,1378528.0,76395.0,52916.0,172944.0,57308153.0,56402088.0,153.761909,154.71,209137.429,Wholesale Trade,0.225304
1435,ABG,2022q1,3911800.0,3119800.0,473900.0,-2700.0,40200.0,76000.0,7860100.0,5677600.0,160.200000,160.20,23187.817,Retail Trade,-0.011916
3142,ACI,2022q1,17383500.0,12399200.0,4321700.0,-1700.0,108000.0,148700.0,28123000.0,25098400.0,32.976197,33.25,483118.147,Retail Trade,0.323732
5932,AE,2022q1,774245.0,0.0,766097.0,0.0,90.0,1968.0,470117.0,304596.0,38.241532,38.49,4367.866,Wholesale Trade,0.181133

In [69]:
# Agregamos las columnas de las variables extras haciendo uso de las ecuaciones que vimos en clase

# Formula de EBIT
df_q1['EBIT'] = df_q1['revenue'] - df_q1['cogs'] - df_q1['sgae'] - df_q1['otheropexp']
# Formula de Net Income
df_q1['NetIncome'] = df_q1['EBIT'] - df_q1['incometax'] - df_q1['finexp']
# Formula de EPS
df_q1['EPS'] = df_q1['NetIncome'] / df_q1['sharesoutstanding']
# Formula de Book
df_q1['Book'] = df_q1['totalassets'] - df_q1['totalliabilities']
# Formula de Market
df_q1['Market'] = df_q1['originalprice'] * df_q1['sharesoutstanding']
# Formula de Book to Market Ratio
df_q1['BTMR'] = df_q1['Book'] / df_q1['Market']
# Formula de EPSP
df_q1['EPSP'] = df_q1['EPS'] / df_q1['originalprice']
# Formuña de OPM
df_q1['OPM'] = df_q1['EBIT'] / df_q1['revenue']

In [70]:

df_q1 = df_q1.sort_values(by = 'Market').reset_index(drop=True,inplace = True)

##### 1.1.- Calcula matriz de varianza y covarianza, así como matriz de correlación de las variables independientes y la dependiente. Explicar qué es la varianza, covarianza y correlación. Interpreta la matriz de correlación. Tiene que utilizar álgebra matricial y corroborar resultados con funciones de Python.

##### 1.2.- Corre pruebas estadísticas para detectar outliers y leverage points. Tiene que utilizar álgebra matricial para las pruebas y explicar claramente cómo funcionan las pruebas. Puede utilizar funciones de Python para corroborar resultados.

#### 2.- Hace un análisis de multicolinealidad explicando la prueba e implicaciones en el modelo.

#### 3.- Propone e implementa soluciones a los problemas de los puntos anteriores para que el modelo sea el más adecuado.

#### 4.- Estima e interpreta un modelo de regresión múltiple después de atender los problemas anteriores. Tiene que utilizar álgebra matricial para estimar coeficientes y errores estándar del modelo de regresión, y utilizar funciones de Python para corroborar resultados.